 
.head {
    width: 1319px;
    border-top: 1px solid var(--light-600);
    padding: 35px 100px 32px 100px;
}

.head .section {
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head .info h1 { font-size: 35px; }
.head .info p, .head span { color: #888; }
.head .desc .attr { color: #5d5d5d; }

.head .info .pill { 
    width: 57px;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    background: #ECFDF3;
    border: 1px solid #ABEFC6;
    color: #067647;
    border-radius: 50vw;
}

.info .pill div { 
    color: transparent;
    width: 10px;
    height: 5px;
    border-radius: 50vw;
    background: #17B26A;
}

.info .pill p { color: #067647; font-size: 12px; }

.head .info,
.head .desc,
.head .desc .attr {
    display: flex;
    align-items: center;
}

.head .info { gap: 12px; }
.head .desc { gap: 16px; }
.head .desc .attr { gap: 8px; }