nav {
    padding: 24px 40px; 
    height: 109px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 17px 27px;
    background: var(--light-600);
    color: var(--theme);
}

.nav-items {
    display: flex;
    padding: 8px;
    border: 0.5px solid var(--light-400);
    border-radius: 50vw;
    gap: 49px;
}

.nav-items .item {
    height: 57px;
    padding: 15px;
    display: flex;
    gap: 8px;
    color: var(--light-200);
}

.nav-items .active {
    background: var(--theme);
    border: 2px solid #FCB4A5;
    border-radius: 60vw;
    color: var(--light-800);
}

.actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.actions .more {
    display: flex;
    align-items: center;
    gap: 6px;
}

nav div.pending { position: relative; }

nav div.pending .dot {
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    right: 0;
    top: 0;
    border-radius: 50vw;
    background: #DC4A2D;
}