@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&f[]=general-sans@200,300,400,500,600,700&display=swap');

html {
  max-height: 1328px;
}

:root {
  --theme: #DC4A2D;
  --light-800: #fff;
  --light-600: #e7e7e7;
  --light-400: #d1d1d1;
  --light-200: #b0b0b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans", sans-serif;
}

h1 {
  font-weight: 600;
  color: #3d3d3d;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  color: #3d3d3d;
}

h6 {
  font-weight: 500;
  font-size: 14px;
  color: #6E6D6D;
}

button {
  padding: 12px 34px;
  display: flex;
  gap: 10px;
  flex-grow: 1;
  align-items: center;
  border-radius: 8px;
  font-weight: 500;
}

button.primary {
  background: var(--theme);
  color: var(--light-800);
  border: 2px solid #FED3CA;
}

button.secondary {
  background: #FEF4F2;
  color: var(--theme);
  border: 1px solid var(--theme);
}